.items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*
    width: 100px;
    */
}
.list {
    /*
    background-color: lightblue;
    */
    border: 1px solid gray;
}
.items li {
    margin: 2px;
    padding: 2px;
    cursor: pointer;
    height: 40px;
    border-radius: 3px;
}
.items .ui-selected {
    background: red;
    color: white;
    font-weight: bold;
}

body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}